.tourist-say{
  @include center;
  background: url("../img/fifth-bg.png") center no-repeat #cccccc;
  background-size: cover;
  .tourist-say__title{
    margin: 120px 0 94px 0;
  }
  .tourist-say__container {
    margin-bottom: 200px;
    .tourist-say__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .tourist-say__card {
      text-align: left;
      padding: 0 0 0 60px;

      .tourist-say-subtitle {
        margin: 50px 0 33px 0;
      }

      .fa-quote-left {
        color: $button-color;
        font-size: 29px;
        line-height: 26px;
      }
    }
  }
}