// Colors //
$button-color:#5474fd;

// Fonts //
$primary-colour:#ffffff;
$secondary-color:#e8e8e8;
$main-font-family: 'Josefin Sans', sans-serif;
$secondary-font-family: 'Aleo', serif;
//// Icons //
//$icomoon-font-family: "icons" !default;
//$icomoon-font-path: "../fonts/icons/svg" !default;