.why-us{
  background: url("../img/second-bg.png") center no-repeat #cccccc;
  background-size: cover;
  padding-bottom: 120px;
  .why-us__title{
    margin: 204px 0 62px 0;
  }
  .why-us__descr{
    margin-bottom: 48px;
  }
  .why-us__button{
    margin-bottom: 12px;
  }
  .why-us-first{
    margin: 110px 0 5px 110px;
  }
  .why-us-second{
    margin-left:210px;
  }
}